@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

h1 {
    padding-left: 3%;
    color: #cee6ff;
    font-size: 4rem;
    letter-spacing: 0.1cm;
    font-family: "Playfair Display", 'Times New Roman', Times, serif;
    background-color: rgb(0,0,0,0.8);
    border-radius: 50px;
    padding-right: 1cm;
    display: inline-block;
}
body {
    background-color: rgb(226, 252, 255);
    margin: 0;
}
header {
    background: url(./neuro.jpg) center/cover no-repeat;
    padding: 1%;
    border-bottom: #002552 solid 10px;
}

main {
    display: flex;
    min-height: calc(100vh - 120px);
    background-color: rgb(226, 252, 255);
}
.introduction {
    background-color: rgb(226, 252, 255);
    width: 100%;
    margin: 0 0 0;
    padding-left: 10%;
    padding-right: 10%;
    display: block;
    height: 100vh;
    text-align: justify;
    font-family: "Lato", 'Times New Roman', Times, serif;
}
.introduction h3 {
    word-break: break-all;
}

h2 {
    font-family: "Spectral", 'Times New Roman', Times, serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2rem;
    text-decoration: underline;
}
.table {
    color: white;
    background-color: #001736;
    width: 30%;
    padding: 30px;
    height: 100%;
    font-size: 1.5rem;
    font-family: "Oswald", 'Times New Roman', Times, serif;
    border-bottom-left-radius: 20px;
}
.table a,
.table a:visited {
    color: white;
}
a:visited {
    color: white;
}   

img {
    height: 30%;
    display: block;
}

@media screen and (max-width: 834px) {
    h1 {
    font-size: 2rem;
    }
    main {
        display: block;
        max-width: 100%;
        padding: 0;
    }
    .introduction {
        width: 100%;
        height: auto;
        padding: 5%;
    }
    header {
        background: url(./neuro.jpg) center/cover;
        width: 110%;
        border-bottom: #002552 solid 10px;
    }
    .table {
        width: 100%;
        height: auto;
        font-size: 1.2rem;
    }
    img {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    }